<!-- SharePoint File Upload Modal -->
<div id="sharepointFileUploadModal" class="popup-card-container sharepoint-modal" style="display: none">
      <div class="card sharepoint-modal-content">
            <div class="sharepoint-modal-header">
                  <h2>Upload from SharePoint</h2>
                  <span class="sharepoint-close-btn" id="closeSharepointModalBtn">
                        <img src="/static/images/lucide_icons/x.svg" class="icon-svg" alt="close Icon" />
                  </span>
            </div>
            <div class="sharepoint-body-tab">
                  <div class="shrp-site-card-header-section">
                        <div class="shrp-site-card-search-container">
                              <input type="text" class="shrp-site-card-search-input" id="sharepointSiteSearch" placeholder="Search sites..." />
                        </div>
                  </div>
                  <div class="file-upload-model-contents" id="sharepointFileUploadModel">
                        <div class="file-upload-breadcrumbs">
                        </div>
                        <div class="file-upload-content">
                            <div class="loading">
                                    <div class="file-icon-loading">
                                        <img src="/static/images/loader-circle.svg" class="spin" alt="Loading Icon" />
                                    </div>
                                    Loading your files...
                            </div>
                        </div>
                  </div>
            </div>
            <div class="file-upload-model-action-btn-contianer" id="fileUploadModelActionBtnContianer">
            </div>
      </div>
</div>
